extends ./shared/layout.pug


block site_body
      div.row.justify-content-md-right.section2
        div.col-md-12
            h1.headline-lg online help.
            p.sub getting started with nexus.
            p.body. 
              Nexus is an online assistance center that allows the tutors we have here at the MAC to help students no matter where they are. 
              Simply ask a question during our #[a.link(href="/contact") online hours of operation] and a tutor will quickly be there to help you out.
            p Follow the steps outlined below to get started!
            br
              
      div.block.color-grey.section2
        ol.help
          li Log in with your CAS login information.
            ul.help
              li The first time you log in, there will be a form you have to fill out. After you fill out the form, refresh the page. 
          li Click on your profile in the top right hand corner and make sure your "areas of study" are correct.
          li Type a question into the search bar, and click the "plus" sign next to the section your question would be in to create a "table". 
            ul.help
              li A table is just an online room that a tutor can join and answer your question on the virtual whiteboard.
          li Get help from wherever you are!
      a.button(href="https://iupui.xroadsed.com/nexus/") visit nexus.
      
              
      div.row.section-breakout.color-blue.centered
        div.col-md-12
          h2.headline-lg still need help?
          p.big If you are confused or experiencing an issue, don't hesitate to contact us!
          br
          a.button.breakout(href="#") tell us what's up. 
