extends ./shared/layout.pug


block site_body
      div.row.justify-content-md-right.section2
        div.col-md-12
            h1.headline-lg resources.
            p.sub mac produced at your disposal.
            div.body.b-level.section-small(tabindex="1")
              h2.headline-sm.right algebra &amp; finite.
              div.row
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 118
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                    
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 11000
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 11100
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 15300
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 15400
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 15900
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                  
              
            div.body.c-level.section-small(tabindex="2")
              h2.headline-sm.right calculus.
              div.row
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 119
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 16500
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 16600
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 17100
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 22100
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 22200
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 23100
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 23200
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 26100
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 26600
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs MATH-M 35100
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
              
            div.body.stats.section-small(tabindex="3")
              h2.headline-sm.right statistics.
              div.row
                div.col-md-3.offset-md-6.body.subject
                  h3.headline-xs STAT 301
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  
                div.col-md-3.body.subject
                  h3.headline-xs STAT 350
                  ul.outer
                    li 
                      a(href="#").bold.main Exam Jam Booklet
                      ul
                        li 
                          a(href="#") Concise Solutions
                        li 
                          a(href="#") Full Solutions
                    li 
                      a(href="#").bold.main Course Resources
                  

            
            //- spacer:
            div.body 
            
            
