

mixin navbar-main
    div.nav.float-right
      ul.navbar-main-site
        li 
          a(href="/") #[img(src="/images/MAC-Logo-Teal-200w.png")]
        li
            a(href="/online-help") online help.
        li
            a(href="/resources") resources.
        li
            a(href="#") team.
        li
            a(href="media") media.
        li
            a(href="/contact") contact. 
          
            
mixin footer
    div.container-fluid.foot
        div.row.foot-top
            div.col-xl-4
                img.foot-top(src="/images/MAC-Logo-Coral-200w.png")
            div.col-xl-4
                ul.nav-foot
                  li 
                      a(href="#") jobs.
                  li
                      a(href="#") track visits.
                  li
                      a(href="#") employee portal.
                  li
                      a(href="#") manager portal.
                  li
                      a(href="#") contact. 
            div.col-xl-4
                div.row.socials
                  div.social
                      a(href="#") T.
                  div.social
                      a(href="#") F.
                  div.social
                      a(href="#") I.
        
        
        
        
